<link rel = "stylesheet" type = "text/css" href = "retro.css" />  
<p><img src="https://i.imgur.com/8kxxQQQ.png" alt="outsideTheBox Banner"></p>
<h1 id="outsideTheBox"><a name="outsideTheBox" href="#outsideTheBox">#</a> outsideTheBox</h1>
<p>outsideTheBox is a collection of system-level utility tools that didn't come built-in with GameMaker Studio 2.
It includes:</p>
<ul>
<li>Saving / Loading files outside of the GameMaker Studio 2 sandbox</li>
<li>Toggling Borderless / Windowed modes at run-time</li>
<li>Querying detailed memory usage information</li>
</ul>
<p><a href="#APIReference">Skip to Reference</a></p>
<h2 id="**v2.0.0**"><a name="**v2.0.0**" href="#**v2.0.0**">#</a> <strong>v2.0.0</strong></h2>
<p>Version 2.0.0 introduces the meminfo and borderlessToggle rousr extensions all packed into one convenient package with outsideTheBox. outsideTheBox is written so that any unused features are not in any sort of &quot;active&quot; state at anytime, so if you're not interested in the additionally functionality, simply don't use it!</p>
<p><strong>Note: Many API Changes in this version. It is best to remove the old version first.</strong></p>
<h3 id="InstallationNotes"><a name="InstallationNotes" href="#InstallationNotes">#</a> Installation Notes</h3>
<ul>
<li>​Import Assets from the <code>outsideTheBox</code> groups in each Resource</li>
<li>Import Assets from the &quot;(required)&quot; marked groups (See note below)</li>
</ul>
<p><strong>Note:</strong> outsideTheBox uses functions from <a href="https://marketplace.yoyogames.com/assets/6319/rousrsuite">rousrSuite</a>. When importing assets from the extension, make sure to include any <code>rousr (required)</code> group. If you have any other <a href="https://marketplace.yoyogames.com/publishers/3603/rousr">rousr</a> extensions, you only need to keep one copy of each of these resources. If you do import multiples, GameMaker Studio 2 will rename the duplicates with a <code>_1</code> at the end. You can simply delete any of the resources after importing the asset.</p>
<h3 id="Credits"><a name="Credits" href="#Credits">#</a> Credits</h3>
<ul>
<li>by <a href="http://babyjeans.rou.sr">@babyj3ans</a></li>
<li>Additional Programming by <a href="http://www.twitter.com/net8floz">@net8floz</a></li>
<li>Uses:
<ul>
<li><a href="http://imguigml.rou.sr/">imguigml</a> - Available also at <a href="https://marketplace.yoyogames.com/assets/6221/imguigml">yy marketplace</a> or <a href="https://rousr.itch.io/imguigml">itch.io</a></li>
<li><a href="https://marketplace.yoyogames.com/assets/6319/rousrsuite">rousrSuite (<strong>yymarketplace</strong>)</a> - General purpose scripts</li>
</ul>
</li>
</ul>
<hr>
<h2 id="Components"><a name="Components" href="#Components">#</a> Components</h2>
<p>outsideTheBox is made up of four components:</p>
<ul>
<li><a href="#FileSystem">File System</a></li>
<li><a href="#BorderlessToggle">Borderless Toggle</a></li>
<li><a href="#MemInfo">MemInfo</a></li>
</ul>
<hr>
<h3 id="FileSystem"><a name="FileSystem" href="#FileSystem">#</a> File System</h3>
<p>Since it works by relocating files to your sandbox, then moving them back, it allows the users to still use all the same builtin file functions of GMS, i.e., <code>file_text_read_line</code>, etc</p>
<h3 id="BorderlessToggle"><a name="BorderlessToggle" href="#BorderlessToggle">#</a> Borderless Toggle</h3>
<p>Using this extension, a GMS2 application can now toggle between a regular Windowed mode and Borderless Windowed mode.</p>
<p>Usage:</p>
<p><img src="http://static.rou.sr/outsideTheBox/borderless_toggle_settings.png" alt="Project Settings"></p>
<ul>
<li>Set your project to use Borderless Windows, and make sure you don’t have “Allow player to resize” checked.</li>
<li>Call <code>otb_set_borderless</code> and <code>otb_set_windowed</code> and off we go!</li>
</ul>
<h3 id="MemInfo"><a name="MemInfo" href="#MemInfo">#</a> MemInfo</h3>
<p>The following functions can print out the various memory amounts:</p>
<pre><code>show_debug_message(&quot;Memory Usage: &quot;);
show_debug_message(&quot;\tPrivate Working Set (task manager, almost): &quot; + string(meminfo_get_mem_usage()));
show_debug_message(&quot;\tWorking Set (physical memory):              &quot; + string(meminfo_get_working_set_usage()));
show_debug_message(&quot;\tPrivate (virtual memory):                   &quot; + string(meminfo_get_private_usage()));
</code></pre>
<p><strong>What this all means:</strong></p>
<p>it should be noted that the Private Working Set value is <em>as close</em> as I could find to what TaskMgr gives us.
there's still some windows kernel overhead that isn't accounted for, because it's owned by the kernel.
... it also takes a second from boot to start getting accurate.</p>
<p>the Working Set is all the memory our process is using in addition to the amount of memory shared with other processes.
shared memory is memory used for things like shared DLLs (think the C++ Runtimes you have filling up your Add/Remove programs)</p>
<p>the 'private' is the virtual memory your process uses, it's similar to the private working set but is missing things like the executable image</p>
<hr>
<h2 id="APIReference"><a name="APIReference" href="#APIReference">#</a> API Reference</h2>
<h4 id="otb_file_open"><a name="otb_file_open" href="#otb_file_open">#</a> <code>otb_file_open</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_file_path</strong></td>
<td>{String} path to the file</td>
</tr>
<tr>
<td><strong>[_file_flags=oTB.Read]</strong></td>
<td>{Real:oTB} the flags to use while opening. see oTB</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} _otb_file_handle or -1 on failure</td>
</tr>
</tbody>
</table>
<pre><code>otb_file_open(_file_path, [_file_flags=oTB.Read])
</code></pre>
<p>open a file... outside the box - tries to open the file outside the sandbox first, if it can't it'll try opening a sandboxed file.. <em>just in case</em></p>
<hr>
<h4 id="otb_file_close"><a name="otb_file_close" href="#otb_file_close">#</a> <code>otb_file_close</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_file_handle</strong></td>
<td>{Real} file handle returned by oTB_fileOpen</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>otb_file_close(_file_handle)
</code></pre>
<p>Close a file opened with otb</p>
<hr>
<h4 id="otb_file_to_string"><a name="otb_file_to_string" href="#otb_file_to_string">#</a> <code>otb_file_to_string</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_fname</strong></td>
<td>{String} filename to open. will use file_text_open_read if it oTB fails.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{String} undefined on failure, string of the file on success.</td>
</tr>
</tbody>
</table>
<pre><code>otb_file_to_string(_fname)
</code></pre>
<p>Open a files and returns it's lines as a string value</p>
<hr>
<h4 id="__otb_init"><a name="__otb_init" href="#__otb_init">#</a> <code>__otb_init</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>__otb_init()
</code></pre>
<p>initialze outsideTheBox and set the sandbox filepath</p>
<hr>
<h4 id="__otb_file_find"><a name="__otb_file_find" href="#__otb_file_find">#</a> <code>__otb_file_find</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_file_path_or_handle</strong></td>
<td>{Real</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array:EOTBFile} _file_data</td>
</tr>
</tbody>
</table>
<pre><code>__otb_file_find(_file_path_or_handle)
</code></pre>
<p>find an <code>EOTBFile</code> from a filename or GMS fileHandle</p>
<hr>
<h4 id="otb_browse_for_folder"><a name="otb_browse_for_folder" href="#otb_browse_for_folder">#</a> <code>otb_browse_for_folder</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_default_path=&quot;&quot;]</strong></td>
<td>{String} default path to search browse from</td>
</tr>
<tr>
<td><strong>[_title=&quot;Browse</strong></td>
<td>{String} for folder...&quot;] title to use for window</td>
</tr>
<tr>
<td><strong>[_flags=BIF_RETURNONLYFSDIRS</strong></td>
<td>{Real:EOTBBrowseFile}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{String} _path the user picked or undefined if error.</td>
</tr>
</tbody>
</table>
<pre><code>otb_browse_for_folder([_default_path=&quot;&quot;], [_title=&quot;Browse, [_flags=BIF_RETURNONLYFSDIRS)
</code></pre>
<p>open a &quot;browse for folder&quot; windows dialog (Windows only)</p>
<hr>
<h4 id="otb_browse_for_folder_async"><a name="otb_browse_for_folder_async" href="#otb_browse_for_folder_async">#</a> <code>otb_browse_for_folder_async</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_default_path=&quot;&quot;]</strong></td>
<td>{String} default path to search browse from</td>
</tr>
<tr>
<td><strong>[_title=&quot;Browse</strong></td>
<td>{String} for folder...&quot;] title to use for window</td>
</tr>
<tr>
<td><strong>[_flags=BIF_RETURNONLYFSDIRS</strong></td>
<td>{Real:EOTBBrowseFile}</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>otb_browse_for_folder_async([_default_path=&quot;&quot;], [_title=&quot;Browse, [_flags=BIF_RETURNONLYFSDIRS)
</code></pre>
<p>open a &quot;browse for folder&quot; windows dialog (Windows only). <strong>Note:</strong> On returning the path, an &quot;Async Social&quot; event is called with the <code>async_load</code> key <code>browse_for_folder</code> set to the path. <em><strong>Note:</strong> Using this function twice will result in the second one blocking until the first is complete.</em></p>
<hr>
<h4 id="otb_filesystem_path"><a name="otb_filesystem_path" href="#otb_filesystem_path">#</a> <code>otb_filesystem_path</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_path</strong></td>
<td>{String} path to get entry of</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array:EOTBFileSystemEntry} file entry for <code>_path</code></td>
</tr>
</tbody>
</table>
<pre><code>otb_filesystem_path(_path)
</code></pre>
<p>get the file entry for path, or <code>undefined</code> if bad path</p>
<hr>
<h4 id="otb_filesystem_list_directory"><a name="otb_filesystem_list_directory" href="#otb_filesystem_list_directory">#</a> <code>otb_filesystem_list_directory</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_path</strong></td>
<td>{String} directory to get file list from</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array: [ EOTBFileSystemEntry, ... ] } list of files, or undefined if invalid path</td>
</tr>
</tbody>
</table>
<pre><code>otb_filesystem_list_directory(_path)
</code></pre>
<p>get the list of files and directories at a given path</p>
<hr>
<h4 id="__otb_filesystem_read_entry"><a name="__otb_filesystem_read_entry" href="#__otb_filesystem_read_entry">#</a> <code>__otb_filesystem_read_entry</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_buffer</strong></td>
<td>{Real} buffer id of buffer to read from</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Array:EOTBFileSystemEntry} read entry or undefined for some reason</td>
</tr>
</tbody>
</table>
<pre><code>__otb_filesystem_read_entry(_buffer)
</code></pre>
<p>reads a path entry from a buffer [internal]</p>
<hr>
<h4 id="otb_set_borderless"><a name="otb_set_borderless" href="#otb_set_borderless">#</a> <code>otb_set_borderless</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>otb_set_borderless()
</code></pre>
<p>Set the window to be borderless</p>
<hr>
<h4 id="otb_set_windowed"><a name="otb_set_windowed" href="#otb_set_windowed">#</a> <code>otb_set_windowed</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>otb_set_windowed()
</code></pre>
<p>Set the window to have a frame</p>
<hr>
<h4 id="__otb_preserve_window_size"><a name="__otb_preserve_window_size" href="#__otb_preserve_window_size">#</a> <code>__otb_preserve_window_size</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>__otb_preserve_window_size()
</code></pre>
<p>internal function to make sure the window stays the appropriate size</p>
<hr>
<h4 id="meminfo_start"><a name="meminfo_start" href="#meminfo_start">#</a> <code>meminfo_start</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_poll_frequency=200]</strong></td>
<td>{Real} how often to check the mem usage</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>meminfo_start([_poll_frequency=200])
</code></pre>
<p>start polling memory information - note: optional, calling a memory function calls this</p>
<hr>
<h4 id="meminfo_stop"><a name="meminfo_stop" href="#meminfo_stop">#</a> <code>meminfo_stop</code></h4>
<p><strong>returns</strong>: None</p>
<pre><code>meminfo_stop()
</code></pre>
<p>stop polling memory information - note: kills the thread, can help perf</p>
<hr>
<h4 id="meminfo_get_poll_frequency"><a name="meminfo_get_poll_frequency" href="#meminfo_get_poll_frequency">#</a> <code>meminfo_get_poll_frequency</code></h4>
<p><strong>returns</strong>: {Real} frequency we poll memory</p>
<pre><code>meminfo_get_poll_frequency()
</code></pre>
<p>start polling memory information</p>
<hr>
<h4 id="meminfo_set_poll_frequency"><a name="meminfo_set_poll_frequency" href="#meminfo_set_poll_frequency">#</a> <code>meminfo_set_poll_frequency</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_poll_frequency</strong></td>
<td>{Real} how often to check the mem usage</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>meminfo_set_poll_frequency(_poll_frequency)
</code></pre>
<p>set polling frequency</p>
<hr>
<h4 id="meminfo_get_mem_usage"><a name="meminfo_get_mem_usage" href="#meminfo_get_mem_usage">#</a> <code>meminfo_get_mem_usage</code></h4>
<p><strong>returns</strong>: {Real} physical memory usage</p>
<pre><code>meminfo_get_mem_usage()
</code></pre>
<p>get the physical memory usage</p>
<hr>
<h4 id="meminfo_get_private_usage"><a name="meminfo_get_private_usage" href="#meminfo_get_private_usage">#</a> <code>meminfo_get_private_usage</code></h4>
<p><strong>returns</strong>: {Real} private memory usage</p>
<pre><code>meminfo_get_private_usage()
</code></pre>
<p>get the private memory (vmem) usage</p>
<hr>
<h4 id="meminfo_get_working_set_usage"><a name="meminfo_get_working_set_usage" href="#meminfo_get_working_set_usage">#</a> <code>meminfo_get_working_set_usage</code></h4>
<p><strong>returns</strong>: {Real} private memory usage</p>
<pre><code>meminfo_get_working_set_usage()
</code></pre>
<p>get the private working set memory</p>
<hr>
<h3 id="CHANGES"><a name="CHANGES" href="#CHANGES">#</a> CHANGES</h3>
<p>v2.0.0</p>
<ul>
<li>Added BorderlessToggle and MemInfo into outsideTheBox</li>
<li>Refactored and re-organized the entire API</li>
<li>Added <code>otb_browse_for_folder</code></li>
<li>Added <code>otb_filesystem_list_directory</code> and <code>otb_filesystem_path</code></li>
</ul>
<p>v0.10.1</p>
<ul>
<li>Added Ubuntu support</li>
<li>Fixed inability to write <em>new</em> files.</li>
</ul>
<p>v0.9.4</p>
<ul>
<li>Added <code>oTB_file_to_string</code> that writes a text file's contents to a string</li>
<li>Removed <code>oTB_Defines</code> and added it to oTB_init</li>
<li>Renamed <code>_oTB_findFile</code> to <code>__oTB_findFile</code> to keep consistent with code style</li>
<li>Documented function headers properly.</li>
</ul>
