<h1 id="outsideTheBox"><a name="outsideTheBox" href="#outsideTheBox">#</a> outsideTheBox</h1>
<p>A simple GMS2 extension for saving / loading files outside of the GM filesystem
sandbox.</p>
<p>Since it works by relocating files to your sandbox, then moving them back, it
allows the users to still use all the same builtin file functions of GMS#### <code>__oTB_fileFind</code></p>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_filePathOrHandle</strong></td>
<td>{Real</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} _file_data</td>
</tr>
</tbody>
</table>
<pre><code>__oTB_fileFind(_filePathOrHandle)
</code></pre>
<p>find a __fileDB file from a filename or GMS fileHandle</p>
<hr>
<h4 id="oTB_fileClose"><a name="oTB_fileClose" href="#oTB_fileClose">#</a> <code>oTB_fileClose</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>_file_handle</strong></td>
<td>{Real} file handle returned by oTB_fileOpen</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>None</td>
</tr>
</tbody>
</table>
<pre><code>oTB_fileClose(_file_handle)
</code></pre>
<p>Close a file opened with otb</p>
<hr>
<h4 id="oTB_fileOpen"><a name="oTB_fileOpen" href="#oTB_fileOpen">#</a> <code>oTB_fileOpen</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>filepath</strong></td>
<td>{String} path to the file</td>
</tr>
<tr>
<td><strong>[_fileFlags]</strong></td>
<td>{Real} the flags to use while opening. see oTB</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{Real} _otb_file_handle</td>
</tr>
</tbody>
</table>
<pre><code>oTB_fileOpen(filepath, [_fileFlags])
</code></pre>
<p>open a file... outside the box.</p>
<hr>
<h4 id="oTB_fileToString"><a name="oTB_fileToString" href="#oTB_fileToString">#</a> <code>oTB_fileToString</code></h4>
<table>
<thead>
<tr>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>[_dataPath=&quot;&quot;]</strong></td>
<td>{String} Data path to use, i.e., executable path or any filesystem path (using oTB)</td>
</tr>
<tr>
<td><strong>_fname</strong></td>
<td>{String} Can be 1st argument if no datapath is passed, filename to open. will use file_text_open_read if it oTB fails.</td>
</tr>
<tr>
<td><strong>returns</strong>:</td>
<td>{String} undefined on failure, string of the file on success.</td>
</tr>
</tbody>
</table>
<pre><code>oTB_fileToString([_dataPath=&quot;&quot;], _fname)
</code></pre>
<p>Open a files and returns it's lines as a string value</p>
<hr>
<h4 id="oTB_init"><a name="oTB_init" href="#oTB_init">#</a> <code>oTB_init</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>oTB_init()
</code></pre>
<p>initialze outsideTheBox and set the sandbox filepath</p>
<hr>
<h4 id="oTB_Defines"><a name="oTB_Defines" href="#oTB_Defines">#</a> <code>oTB_Defines</code></h4>
<p><strong>returns</strong>: | None</p>
<pre><code>oTB_Defines()
</code></pre>
<p>collection of macros / enums used by oTB</p>
<hr>
<h3 id="CHANGES"><a name="CHANGES" href="#CHANGES">#</a> CHANGES</h3>
<p>v0.10.1</p>
<ul>
<li>Added Ubuntu support</li>
<li>Fixed inability to write <em>new</em> files.</li>
</ul>
<p>v0.9.4</p>
<ul>
<li>Added <code>oTB_file_to_string</code> that writes a text file's contents to a string</li>
<li>Removed <code>oTB_Defines</code> and added it to oTB_init</li>
<li>Renamed <code>_oTB_findFile</code> to <code>__oTB_findFile</code> to keep consistent with code style</li>
<li>Documented function headers properly.</li>
</ul>
